.heading
{
    width: 100%;
    text-align: center;
}
.heading h3
{
    display: inline;
}
.heading button
{
    float: right;
    border: 1px solid white;
}
.large_image
{
    width: 100%;
}
h4
{
    background-color: white;
    margin: 0px;
    line-height: 3;
}
.modal-dialog
{
    width: 80%;
}
.modal-body
{
    display: inline-block;
    width: 50%;
}